In [1]:
#Search +91-9529611675
import re
m="This is my number:+91-9529611675 with 91 as Indias' country code"
pat=re.compile(r"(\D)(\d{2})-(\d{10})")
obj1=pat.search(m)
print(type(obj1))
#obj1.group()
#print(f"country found is {obj1.group(2)}")
#print(f"Your mobile number is {obj1.group(3)}")

<class 're.Match'>

In [9]:
# Check pattern as a digit inside the string
import re    # importing regular expression pacakge to use methods inside this
msg=" This is my number:022-456-7393"

#step1: define the pattern
ptrn= re.compile(r"(\d{3})-(\d{3}-\d{4})")

#step2: search the pattern inside the message
obj=ptrn.search(msg)
print(type(obj)) #returned object of match class 

#step3: use group method to see matched value from obj
print("Phone number found:",obj.group())

print(f"Area code is:{obj.group(1)}")

print(f"Your phone number is :{obj.group(2)}")

<class 're.Match'>
Phone number found: 022-456-7393
Area code is:022
Your phone number is :456-7393

In [18]:
# Check pattern as a charchters inside the string
# Use | (pipe) to check multiple pattern
import re

msg=" My name is Shivani Jadhav"

ptrn=re.compile(r"(Shivani|Deepak) Jadhav")
obj=ptrn.search(msg)
#print(obj)
print(f"Your name found as :{obj.group()}")

Your name found as :Shivani Jadhav

In [22]:
#Check zero or one occurances in the string
# Use ? to check this   
import re

msg1= "My dad is Superman"
msg2= "My mom is Superwoman"
msg3= "My grandma is Superwowoman"
msg4= "My grandpa is Supermaman"

ptrn=re.compile(r"Super(wo)?man")    
obj=ptrn.search(msg3)      # check for msg2, msg2, msg3
#print(obj)
print(f"Your message found as :{obj.group()}")

AttributeError: 'NoneType' object has no attribute 'group'

In [63]:
import re
str1="My name is Ravi Kumar"
str2="My name is Ravi Mishra"
str3="My name is Ravi Kumar ji"
str4="My name is Ravi"
ptrn=re.compile(r"(Mishra)?")
obj=ptrn.search(str2)
obj

In [29]:
#Check zero or more occurances in the string
# Use * to check this   
import re

msg1= "My dad is Superman"
msg2= "My mom is Superwoman"
msg3= "My grandma is Superwowoman"
msg4= "My grandpa is Superwowowowoman"

ptrn=re.compile(r"Super(wo)*man")    
obj=ptrn.search(msg4)      # check for msg2, msg2, msg3
#print(obj)
print(f"Your message found as :{obj.group()}")

Your message found as :Superwowowowoman

In [33]:
#Check one or more occurances in the string
# Use + to check this   
import re

msg1= "My dad is Superman"
msg2= "My mom is Superwoman"
msg3= "My grandma is Superwowoman"
msg4= "My grandpa is Superwowowowoman"

ptrn=re.compile(r"Super(wo)+man")    
obj=ptrn.search(msg4)      # check for msg2, msg2, msg3
#print(obj)
print(f"Your message found as :{obj.group()}")

Your message found as :Superwowowowoman

In [2]:
# findall function
#check multiple occurances of same pattern in the string
msg=" This is my number:022-456-7393 and this is my alternate number :456-777-9090, this is my parents' number :020-234-3333, this is personal number:191-952-9611"
msg1="This is message"
# ptrn=re.compile(r"\d\d\d-\d\d\d-\d\d\d\d")
ptrn=re.compile(r"\d{3}-\d{3}-\d{4}")
list1=ptrn.findall(msg) # no need to use group, 
print(type(list1)) #it returns a list of matched pattern not object
#print(list1)

<class 'list'>

In [77]:
# charcter class
msg="12 people gives good feedback, 10 people gives satisfactory feedback, 6 people gives bad feedback"
ptrn=re.compile(r"\d+\s[a-z]*\s[a-z]*\s[a-z]*")
list1=ptrn.findall(msg)
print(list1)

['12 people gives good', '10 people gives satisfactory', '6 people gives bad']

In [8]:
import re
msg='''"The best way to predict the future is to create it." — Peter Drucker
"Believe you can and you're halfway there." — Theodore Roosevelt
"It does not matter how slowly you go as long as you do not stop." — Confucius
"Success is not final, failure is not fatal: It is the courage to continue that counts." — Winston Churchill
"You are never too old to set another goal or to dream a new dream." — C.S. Lewis'''
ptrn_msg=re.compile(r"\W\s[A-Z]+\W*[A-Z]*\W*[a-z]*\s[A-Z][a-z]+")
list_author=ptrn_msg.findall(msg)
print(list_author)

['— Peter Drucker', '— Theodore Roosevelt', '— Winston Churchill', '— C.S. Lewis']

In [5]:
import re
msg="123 pipers are piping,67 dumer playing on floor,33 dancers dancing on floor"
ptrn=re.compile(r"\d+")
list1=ptrn.findall(msg)
print(list1)
sum=0
for i in list1:
    sum=sum+int(i)   # '123'===> 123

print(f"Total number of people in show",sum)

['123', '67', '33']
Total number of people in show 223

In [2]:
import re
msg='''Ravi is 31 years old
Kishor is 35 years old
Kirti is 40 years old'''

age_ptrn=re.compile(r"\d+")
name_ptrn=re.compile(r"[A-Z][a-z]+")

age=age_ptrn.findall(msg)
name=name_ptrn.findall(msg)

print(age)
print(name)

# we can create disctionary from this list
# i index for name, x index for age
info={}
x=0
for i in name: # i=kirti  x=40
    info[i]=age[x] #dic[key]=val  ===> info[name]=age  ===>  info[i]=age[x]
    x=x+1

print("this is info dictionary :",info)

['31', '35', '40']
['Ravi', 'Kishor', 'Kirti']
this is info dictionary : {'Ravi': '31', 'Kishor': '35', 'Kirti': '40'}

In [3]:
dic={"Name":name,"Age":age}
dic

{'Name': ['Ravi', 'Kishor', 'Kirti'], 'Age': ['31', '35', '40']}

In [4]:
import pandas as pd
df = pd.DataFrame(dic)
df

     Name Age
0    Ravi  31
1  Kishor  35
2   Kirti  40

In [83]:
df.to_csv("Info.csv")